---
layout: layout
---
<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}
  <!-- TODO: bio here -->
 
  <section class="share">
    <br>		
    <p class="byline">Share this post &nbsp     
    <a href="http://www.facebook.com/share.php?u={{ site.url }}{{ page.url }}" target="_blank"><i class="icon icon-facebook"></i></a>
    <a href="https://twitter.com/share?text={{ page.title }}&url={{ site.url }}{{ page.url }}" target="_blank"><i class="icon icon-twitter"></i></a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"><i class="icon icon-linkedin" color="black"></i></a>
    <a href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}" target="_blank"><i class="icon icon-envelope" color="black"></i></a></p> 
  </section>	
</section>
